<div class="container">
    <h1>All Designers</h1><br>
    <%= link_to "Create New Designer", new_designer_path%>
    <br><br><br>
    <% @designers.each do |designer|%>
        <%= image_tag designer.image, :class=>"profileimg" if designer.image.present? %>
            <ul>
                <br>
                <li>Name: <%= link_to designer.name, designer %></li>
                <br>

            </ul>
    <% end %>
</div>